// Fallout Theme Color Palette
$fallout-dark-blue: #001423;
$fallout-brown: #8b5c29;
$fallout-tan: #ffe1ba;
$fallout-light-blue: #0066b1;
$fallout-yellow: #fff773;

@use "bootstrap/scss/bootstrap" as * with (
  $primary: $fallout-light-blue,
  $secondary: $fallout-brown,
  $info: $fallout-light-blue,
  $warning: $fallout-yellow,
  $dark: $fallout-dark-blue,
  $body-bg: $fallout-dark-blue,
  $body-color: $fallout-tan,
  $link-color: $fallout-yellow,
  $link-hover-color: $fallout-tan
);

@use "includes/components/table";
@use "includes/components/jumbotron";
@use "includes/components/challenge";
@use "includes/components/sticky-footer";
@use "includes/components/graphs";

@use "includes/utils/fonts";
@use "includes/utils/opacity";
@use "includes/utils/min-height";
@use "includes/utils/cursors";
@use "includes/utils/lolight";

@use "includes/icons/award-icons";
@use "includes/icons/flag-icons";

h1,
h2 {
  font-weight: 500;
  letter-spacing: 2px;
}

a {
  text-decoration: none !important;
}

blockquote {
  border-left: 4px solid $secondary;
  padding-left: 15px;
}

input,
select {
  padding: 0.6rem !important;
  height: auto !important;
}

.fa-spin.spinner {
  text-align: center;
  opacity: 0.5;
}

.badge-notification {
  vertical-align: top;
  margin-left: -1.5em;
  font-size: 50%;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  background-size: 8px 10px;
}

// Fallout Theme Global Styles
body {
  background-color: $fallout-dark-blue;
  color: $fallout-tan;
}

h1, h2, h3, h4, h5, h6 {
  color: $fallout-yellow;
}

a {
  color: $fallout-yellow;
  
  &:hover {
    color: $fallout-tan;
  }
}

.navbar {
  background-color: darken($fallout-dark-blue, 5%) !important;
  border-bottom: 2px solid $fallout-brown;
}

.navbar-brand {
  color: $fallout-yellow !important;
}

.navbar-nav .nav-link {
  color: $fallout-tan !important;
  
  &:hover {
    color: $fallout-yellow !important;
  }
}

.btn-primary {
  background-color: $fallout-light-blue;
  border-color: $fallout-light-blue;
  color: $fallout-dark-blue;
  
  &:hover {
    background-color: darken($fallout-light-blue, 10%);
    border-color: darken($fallout-light-blue, 10%);
  }
}

.btn-secondary {
  background-color: $fallout-brown;
  border-color: $fallout-brown;
  color: $fallout-tan;
  
  &:hover {
    background-color: darken($fallout-brown, 10%);
    border-color: darken($fallout-brown, 10%);
  }
}

.card {
  background-color: lighten($fallout-dark-blue, 5%);
  border-color: $fallout-brown;
  color: $fallout-tan;
}

.table {
  color: $fallout-tan;
  
  thead th {
    border-color: $fallout-brown;
    color: $fallout-yellow;
  }
  
  tbody td {
    border-color: $fallout-brown;
  }
}

// Canada Map Styles
.map-container {
  height: 600px;
  width: 100%;
  border: 2px solid $fallout-brown;
  border-radius: 8px;
  background-color: lighten($fallout-dark-blue, 3%);
}

.mapael .mapTooltip {
  position: absolute;
  background-color: lighten($fallout-dark-blue, 10%);
  opacity: 0.95;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  color: $fallout-tan;
  border: 1px solid $fallout-brown;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.areaLegend {
  padding: 20px;
}

.areaLegend .legend {
  background: lighten($fallout-dark-blue, 5%);
  border: 1px solid $fallout-brown;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.areaLegend .legend .legendTitle {
  font-weight: bold;
  margin-bottom: 10px;
  color: $fallout-yellow;
}

.areaLegend .legend .legendSlice {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.areaLegend .legend .legendSlice .legendColor {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid $fallout-brown;
}

.areaLegend .legend .legendSlice .legendLabel {
  font-size: 14px;
  color: $fallout-tan;
}
