/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

// Fallout color variables (will be available from main.scss)
$fallout-dark-blue: #001423;
$fallout-brown: #8b5c29;
$fallout-tan: #ffe1ba;
$fallout-light-blue: #0066b1;
$fallout-yellow: #fff773;

.challenge-button {
  border: 2px solid $fallout-brown !important;
  background-color: lighten($fallout-dark-blue, 5%);
  color: $fallout-tan;
  box-shadow: 0 0 10px rgba(139, 92, 41, 0.3);

  &:hover {
    background-color: lighten($fallout-dark-blue, 10%);
    border-color: $fallout-yellow;
    box-shadow: 0 0 15px rgba(255, 247, 115, 0.5);
    color: $fallout-yellow;
  }

  &.challenge-solved {
    background-color: darken($fallout-light-blue, 20%);
    border-color: $fallout-light-blue;
    color: $fallout-tan;
    box-shadow: 0 0 15px rgba(0, 102, 177, 0.5);

    &:hover {
      background-color: darken($fallout-light-blue, 15%);
      border-color: lighten($fallout-light-blue, 10%);
      box-shadow: 0 0 20px rgba(0, 102, 177, 0.7);
    }
  }
}
